.main_chat
  .header
    .left-box
      .group-name
        = @group.name
      .group-member
        Member : 
        - @group.users.each do |user|
          = user.name
    .edit-btn
      = link_to 'edit', '#'

  .messages
  = render @messages

  .footer
    = form_for [@group, @message] do |f|
      .input
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        .image
          = f.label :image, class: 'image2' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'submit-btn'