.side-bar
  .side-header
    .box
      .user
        = current_user.name
      .icon
        .group
          = link_to new_group_path do
            = icon('fas', 'edit') 
        .edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar-groups
    - current_user.groups.each do |group|
      .list
        = link_to group_messages_path(group), class:"link" do
          .list__group-name
            = group.name
          .list__group-message
            = group.show_last_message
